/* HeroSearch private styles */

label {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  color: #3006ee;

}
input {
  padding: .5rem;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: block;
}

input:focus {
  outline: #12ad04 auto 1px;
}

li {
  list-style-type: none;
}
.search-result li a {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  padding: .5rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.search-result li a:hover {
  background-color: #2082f3;
  color: white;
}

ul.search-result {
  margin-top: 10;
  padding-left: 10;
}
